.titulo_principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

.principal{
    background: #cccccc;
    padding: 20px;
}

.titulos{
    text-align: center;
}

p{
    text-align: center;
    background: #cccccc;
}

#mision{
    font-size: 20px;
}

em strong{
    color: red;
}

.diferenciales{
    background: #ffffff;
    padding-top: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    width: 30%;
}

#diff{
    width: 50%;
}
